extends layout

block content
  h2 Questions
  if user
    p #{user.profile.name}
  else
    p This would show my name
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    ol
      each q in user.questions
        li #{q.text}
          input(type="radio", name='#{q.name}', value="no")
          | No
          input(type="radio", name='#{q.name}', value="maybe")
          | Maybe
          input(type="radio", name='#{q.name}', value="yes")
          | Yes
    button.btn.btn-primary(type='submit')
      span.ion-paper-airplane
      | Send
